.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em; }

.main-menu, .main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-menu__item {
  list-style: none; }

.main-menu__link {
  text-decoration: none; }
  
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 

  &__img {
    width: 10%;
    border-radius: 50%;
    margin-top: 1.5rem;
  }

  

  &__buttons {
    margin-top: 3em;
    width: 100%;

    &-letter{
      background-image: linear-gradient(
        to bottom,
      hsl(0, 10, 20) 50%,
      hsl(0, 0, 90) 50%,
      hsl(0, 0, 90) 100%
      );
    }
  }
}


